[Unit]
Description=%I backup restore
After=%i.service
Conflicts=%i.service

[Service]
ReadWritePaths=/var/lib/%i
ProtectSystem=strict
User=%i
Group=%i
LoadCredentialEncrypted=%i_config
ExecStart=/usr/sbin/rclone sync \
  --config=%d/%i_backup \
  --check-first \
  --verbose \
  %i:/%i /var/lib/%i
